@media screen {

    /**
     * Global elements
     */

    body {
        color       : #333;
        background  : #fafafa;
        font-family : Verdana, Arial, Helvetica, sans-serif;
        font-size   : 0.75em;
    }

    h1 { font-size : 1.7em; margin-top : 0; }
    h2 { font-size : 1.5em; }
    h3 { font-size : 1.3em; }
    h4 { font-size : 1.1em; }
    h5 { font-size : 1.0em; }
    h1, h2, h3, h4, h5 { font-family : Georgia, serif; color : #f22; }

    img { border : 0; }
    form { margin : 0; }

    a       { color : #f22; background : none; text-decoration : underline; }
    a:hover { color : #fff; background : #f22; text-decoration : none; }


    /**
     * Setup the 3 column layout
     */

    body { margin : 0; padding : 0 300px; min-width : 300px; }

    #header, #footer, #nav { margin : 0 -300px 0 -300px; }

    .column            { float : left; position : relative; }
    #content-container { width : 100%;  padding : 0; }
    #left-container    { width : 300px; margin-left : -100%; right : 300px; }
    #right-container   { width : 300px; margin-right : -300px; }

    #footer { clear : both; }

    * html #left-container { left : 300px; }


    /**
     * Style the main page areas
     */
    #header {
        background    : url(../images/logo.gif) no-repeat 5px center #f22;
        height        : 45px;
        border-bottom : 1px solid #922;
    }
    #header img { display : none; }

    #content-container { background : #fff; }

    #content {
        border      : 1px solid #eee;
        padding     : 10px;
        line-height : 1.8em;
    }

    #breadcrumbs {
        font-size : 0.8em;
        color     : #ccc;
        margin-bottom : 10px;
    }

    #breadcrumbs a { color : #aaa; }
    #breadcrumbs a:hover { background : #aaa; color : #fff; }

    #left-container .box, #right-container .box {
        margin      : 0 10px 10px 10px;
        padding     : 10px;
        border      : 1px solid #eee;
        background  : #fff;
        font-size   : 0.9em;
        line-height : 1.6em;
    }

    #footer {
        color      : #999;
        font-size  : 0.8em;
        padding    : 10px;
        text-align : center;
    }

    /**
     * Tabbed navigation
     */

    #nav {
        margin-top     : -1px;
        margin-bottom  : 20px;
        font-size      : 0.9em;
        text-transform : uppercase;
    }

    #nav ul {
        margin     : 0;
        padding    : 4px 0;
        text-align : center;
    }

    #nav li {
        list-style      : none;
        padding         : 0;
        margin          : 0;
        display         : inline;
    }

    #nav a {
        background      : #922;
        color           : #aaa;
        text-decoration : none;
        padding         : 4px 8px;
        text-align      : center;
        border          : 1px solid #922;
        border-top      : none;
        margin          : 0 3px;
    }

    #nav a:hover {
        color           : #fff;
        text-decoration : underline;
    }

    #nav li.active a {
        color       : #fff;
        background  : #f22;
        font-weight : bold;
    }


    /**
     * Forms
     */

    div.error {
        background : #a00;
        padding    : 5px;
        margin     : 5px 0;
        color      : #fff;
    }

    form .row div.error {
        font-size : 0.8em;
        line-height : 1em;
    }

    form .row { margin : 10px 0; clear : both; }

    form .row label {
        width       : 150px;
        float       : left;
        display     : block;
        font-weight : bold;
    }

    form .row input[type=text] { width : 230px; }
    form .row input[type=password] { width : 230px; }

    form .captcha { margin-left : 150px; }

    form .submit {
        padding : 5px;
        margin-top : 10px;
        background : #eee;
    }
}

@media print {

    /**
     * Elements to hide
     */
    #nav, #left-container, #right-container { display : none; }
}
